.header{
    background-color: #0f3cc9;
    height: 72px;
}
.navbar{
    height: 100%;
   
}
.logo{
    height: 40px;
    
}
img{
    height: 100%;
}
a{
    width: 100%;
}

.navbar-expand-lg .navbar-nav{
   
    align-items: center;
    
    
}
.nav-link{
    color: #ffffff!important;
    font-weight: 500;

}
.navbarIcon{
    gap: 1rem;
}
.navIcon{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #ffffff;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.navSearchContainer{
    display: flex;
    gap: 10px;
    margin-right: 10px;
    background-color: #0a2885;
    margin-left: 20px;
    border-radius: 20px;
    height: 40px;
    
}
.navSearch{
    height: 20px;
}
.row{
    align-items: center;
}
.navbar-toggler{
    border: none;
}
input{
    background-color: #0a2885;
    border: none;
    color: #ffffff;
}

    .navbar-toggler:focus,.navbar-toggler:active{
        box-shadow: none;
    }

@media (min-width:481px) {
    .navbar-collapse{
        margin-left: 50px;
        }   
        
}
@media (max-width: 480px) {
    .header{
        height: 64px;
    }
    .logo{
        height: 30px;
        
    }
    .nav-link{
        color: #000000!important;
    
    }
  }