body {
    overflow-x: hidden;
}

.header {
    background-color: #0f3cc9;
    height: 72px;
}

.navbar {
    height: 100%;

}

.logo {
    height: 40px;

}

img {
    height: 100%;

}

a {
    width: 100%;
}

.navbar-expand-lg .navbar-nav {

    align-items: center;


}

.nav-link {
    color: #ffffff !important;
    font-weight: 500;

}

.navbarIcon {
    gap: 1rem;
}

.navIcon {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #ffffff;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.navSearchContainer {
    display: flex;
    gap: 10px;
    margin-right: 10px;
    background-color: #0a2885;
    margin-left: 20px;
    border-radius: 20px;
    height: 40px;

}

.navSearch {
    height: 20px;
}

.row {
    align-items: center;
}

.navbar-toggler {
    border: none;
}

input {
    background-color: #0a2885;
    border: none;
    color: #ffffff;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: none;
}

.poster {
    background-image: url(https://jep-asset.akamaized.net/jio/webp/homepage/Homepage-masthead.webp);
    height: 380px;


    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.poster h1 {
    color: #ffffff;
    font-weight: 900;
    font-size: 3.5rem;
}

.poster h5 {
    color: #cac7c7;

}

.posterBtn {
    gap: 10px;
}

.btn {
    border-radius: 20px;
    color: #ffffff;
}

.menuBar {
    margin: auto;
    min-height: 168px;

    text-align: center;
}

.iconContainer {
    width: 60px;
    padding: 15px;

    margin: auto;
    border-radius: 60px;
    background-color: #E7EBF8;
}

.iconContainer img {
    width: 100%;
}

.iconText {
    font-weight: 500;
}

.posterCount {
    margin: auto;
    height: 450px;
    background-image: url(https://jep-asset.akamaized.net/cms/assets/home/true5g-desk.webp);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.dataTitle {
    margin: auto;
    text-align: center;
}

.dataTitle h2 {
    font-size: 3rem;
    font-weight: 900 !important;
}

.dataTitle p {
    font-weight: 600 !important;
    color: #000000a6;
}

.jioCinemaPoster {
    background-color: #D9008D;
    min-height: 448px;
}


video {
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.slideCard {
    flex-wrap: nowrap;
    overflow-x: scroll;

}

.slideCard::-webkit-scrollbar {
    display: none;
}

.cd1 {
    background-image: url(https://jep-asset.akamaized.net/jio/webp/homepage/JioCinema-19-05.webp);
    height: 200px;
    background-size: cover;
    background-color: #D9008D;

}

.slideImgFooter {
    text-align: center;
}

.adPromo {
    margin: auto;
    /* height: 400px; */
    background-color: #6D17CE;
    border-radius: 30px;
    color: #ffffff;
}

/* .imageContainer{
    
    minheight: 399px;
    
   
} */
.imageContainer img {
    border-radius: 30px;
    width: 100%;
}
.shopPromo .bodyTop{
    position: relative;
}

.shopPromo .card {
    margin: auto;


}

.shopPromo{
    margin: auto;
    gap: 30px;
}
.shopPromo .card-body {
    background-color: #0F3CC9;
    color: #ffffff;
}

.shopPromo .btn {
    background-color: #9EB5FA;
    width: 150px;
}

.shopPromo .curve {
    position: absolute;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    height: 40px;
    width: 100%;
    bottom: 0;
    background-color:#0F3CC9;
}
.productContainer{
    margin: auto!important;
    gap: 10px;
    justify-content: space-between;
}

.productContainer .cardLabel{
    background-color: #0C5273;
    color: #ffffff;
    width: fit-content;
}

.productSection{
    text-align: center;
}
.carrer{
    background-image: url(https://jep-asset.akamaized.net/jio/welcome-page-image/carrier-desktop.webp);
    height: 400px;
    background-size: cover;
    background-position: center;
}

.storiesContainer{
    margin: auto!important;
    
    justify-content: space-evenly;
}
.storiesContainer .btn{
    width: 113px;
    color: #0F3CC9;
    font-weight: 700;
}

.storiesSection{
    background-color: #F5F5F5;
}
.storiesSection .btnContainer{
    text-align: center;
}

.bussiness{
    /* background-image: url(https://jep-asset.akamaized.net/jio/webp/homepage/jio-com-business-banner-desktop-17Oct2023.webp); */
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.contactContainer{
    background-color: #0f3cc9;
    color: #ffffff;
    text-align: center;
    
}

.contactContainer h4{
    color: #849BE3;
}

.contactBtnContainer{
    margin: auto;
    justify-content: center;
    gap: 20px;
}

.contactBtnContainer .btn{
    font-weight: 700;
}

@media (min-width:991px) {
    .posterData {
        justify-content: space-between;
    }

    .jioCinemaPoster div {
        height: 100%;
    }

    .videoContainer {
        height: 448px !important;

    }

    video {
        object-fit: cover;
    }
   
}


@media (min-width:481px) {
    .bussiness{
        background-image: url(https://jep-asset.akamaized.net/jio/webp/homepage/jio-com-business-banner-desktop-17Oct2023.webp);;
    }

    .navbar-collapse {
        margin-left: 50px;
    }

    /* .videoContainer{
    margin-top: -45px;
    
} */
    .videoContainer {
        height: 204px;
    }

    .shopPromo img {
        height: 23vw;
    }

   








}

@media (max-width:991px) {
    .posterData {
        flex-direction: column-reverse;
    }

}

@media (max-width: 480px) {
    .header {
        height: 64px;
    }

    .logo {
        height: 30px;

    }

    .poster {
        height: 300px;
        background-position: center center;
        background-size: 100% 100%;
    }

    .nav-link {
        color: #000000 !important;

    }

    .poster h1 {
        font-weight: 500;
        font-size: 2rem;
    }

    .menuBar {
        gap: 40px;
    }

    .videoContainer {
        height: 204px;
    }

    .posterData {
        flex-direction: column-reverse;
    }

    .bussiness{
        background-image: url(https://jep-asset.akamaized.net/jio/webp/homepage/jio-com-business-banner-mobile-12Oct2023.webp);
    }

}